<div id="modal-slr-more" class="slr-modal">
  <div class="more-menu">
    <div class="more-menu-item" value="help"><i class="icon help"></i>Disclaimer</div>
    <div class="more-menu-item" value="feedback"><i class="icon feedback"></i>Give Feedback</div>
    <div class="more-menu-item" value="getinvolved"><i class="icon getinvolved"></i>Get Involved</div>
  </div>
  <div id="more-attribution">Icons provided by <a rel='nofollow' href='https://icons8.com' target='_blank' rel='noopener'>Icons8</a></div>
</div>