<p>
  This page is also available in the following languages:
</p>
<div id="lang-select">
  <div class="btn lang-select-btn notranslate" value="en">English <img src="images/icons8-english-16.png" alt="English" /></div>
  <div class="btn lang-select-btn notranslate" value="es">Español <img src="images/icons8-spain-16.png" alt="Español" /></div>
  <div class="btn lang-select-btn notranslate" value="zh">漢語 <img src="images/icons8-china-16.png" alt="漢語" /></div>
  <div class="btn lang-select-btn notranslate" value="vi">Tiếng Việt <img src="images/icons8-vietnam-16.png" alt="Tiếng Việt" /></div>
  <div class="btn lang-select-btn notranslate" value="fil">Wikang Filipino <img src="images/icons8-philippines-16.png" alt="Wikang Filipino" /></div>
</div>
<p>
  This can be changed later with the language icon on the top-right. 
</p>