<p style="margin-bottom:0;font-size:0.8em;text-align:justify;"><strong>Comparing the California State Guidance on Sea Level Rise to the ART Bay Shoreline Flood Explorer</strong> (State Guidance, 2024)</p>

<table id="about-slr-table" class="style-table">
  <tbody>
    <!--<tr>
      <th colspan="3" rowspan="2" class="title-cell">
        <p style="font-size:1.65em;margin:0;">Comparing the California State Guidance on Sea Level Rise to the ART Bay Shoreline Flood Explorer</p>
        <p style="font-style:italic;font-weight:normal;margin:0;">*ART Bay Shoreline Flood Explorer values represent water levels above today’s Mean Higher High Water (MHHW+).</p>
      </th>
      <th class="top-header">Likely range (high end of the 67% probability range)</th>
      <th class="top-header">1-in-200 Chance</th>
      <th class="top-header">H++</th>
    </tr>
    <tr class="sub-header">
      <th>Low-Risk Aversion</th>
      <th>Medium-High Risk Aversion</th>
      <th>Extreme Risk Aversion</th>
    </tr>-->
    <tr>
      <th colspan="3" class="title-cell"></th>
      <th class="top-header">INT</th>
      <th class="top-header">INT-HIGH</th>
      <th class="top-header">HIGH</th>
    </tr>

    <tr class="secondary-header p2050">
      <th rowspan="5">2050</th>
      <th>2024 State of California Guidance Sea Level Rise Guidance</th>
      <th class="num-column"></th>
      <th class="num-column">9.6"</th>
      <th class="num-column">12"</th>
      <th class="num-column">14.4"</th>
    </tr>
    <tr class="tertiary-header">
      <th>ART Maps Equivalent</th>
      <td class="num-column">MHHW+</td>
      <td class="num-column">12"</td>
      <td class="num-column">12"</td>
      <td class="num-column">12"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 5-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">36"</td>
      <td class="num-column">36"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 50-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">48"</td>
      <td class="num-column">48"</td>
      <td class="num-column">52"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 100-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">52"</td>
      <td class="num-column">52"</td>
      <td class="num-column">**</td>
    </tr>

    <tr class="secondary-header p2060">
      <th rowspan="5">2060</th>
      <th>2024 State of California Guidance Sea Level Rise Guidance</th>
      <th class="num-column"></th>
      <th class="num-column">13.2"</th>
      <th class="num-column">18"</th>
      <th class="num-column">24"</th>
    </tr>
    <tr class="tertiary-header">
      <th>ART Maps Equivalent</th>
      <td class="num-column">MHHW+</td>
      <td class="num-column">12"</td>
      <td class="num-column">**</td>
      <td class="num-column">24"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 5-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">36"</td>
      <td class="num-column">**</td>
      <td class="num-column">48"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 50-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">52"</td>
      <td class="num-column">66"</td>
      <td class="num-column">84"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 100-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
    </tr>

    <tr class="secondary-header p2070">
      <th rowspan="5">2070</th>
      <th>2024 State of California Guidance Sea Level Rise Guidance</th>
      <th class="num-column"></th>
      <th class="num-column">16.8"</th>
      <th class="num-column">26.4"</th>
      <th class="num-column">36"</th>
    </tr>
    <tr class="tertiary-header">
      <th>ART Maps Equivalent</th>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">24"</td>
      <td class="num-column">36"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 5-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">48"</td>
      <td class="num-column">**</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 50-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">52"</td>
      <td class="num-column">66"</td>
      <td class="num-column">**</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 100-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">66"</td>
      <td class="num-column">77"</td>
    </tr>

    <tr class="secondary-header p2080">
      <th rowspan="5">2080</th>
      <th>2024 State of California Guidance Sea Level Rise Guidance</th>
      <th class="num-column"></th>
      <th class="num-column">21.6"</th>
      <th class="num-column">36"</th>
      <th class="num-column">49.2"</th>
    </tr>
    <tr class="tertiary-header">
      <th>ART Maps Equivalent</th>
      <td class="num-column">MHHW+</td>
      <td class="num-column">24"</td>
      <td class="num-column">36"</td>
      <td class="num-column">48"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 5-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 50-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
      <td class="num-column">84"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 100-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">66"</td>
      <td class="num-column">77"</td>
      <td class="num-column">**</td>
    </tr>

    <tr class="secondary-header p2090">
      <th rowspan="5">2090</th>
      <th>2024 State of California Guidance Sea Level Rise Guidance</th>
      <th class="num-column"></th>
      <th class="num-column">22.8"</th>
      <th class="num-column">46.8"</th>
      <th class="num-column">64.8"</th>
    </tr>
    <tr class="tertiary-header">
      <th>ART Maps Equivalent</th>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">48"</td>
      <td class="num-column">66"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 5-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">52"</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 50-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">66"</td>
      <td class="num-column">84"</td>
      <td class="num-column">**</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 100-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
      <td class="num-column">108"</td>
    </tr>

    <tr class="secondary-header p2100">
      <th rowspan="5">2100</th>
      <th>2024 State of California Guidance Sea Level Rise Guidance</th>
      <th class="num-column"></th>
      <th class="num-column">45.6"</th>
      <th class="num-column">58.8"</th>
      <th class="num-column">79.2"</th>
    </tr>
    <tr class="tertiary-header">
      <th>ART Maps Equivalent</th>
      <td class="num-column">MHHW+</td>
      <td class="num-column">48"</td>
      <td class="num-column">**</td>
      <td class="num-column">77"</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 5-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">66"</td>
      <td class="num-column">84"</td>
      <td class="num-column">**</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 50-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">84"</td>
      <td class="num-column">96"</td>
      <td class="num-column">**</td>
    </tr>
    <tr>
      <td class="indent">Sea Level Rise + 100-Year Storm</td>
      <td class="num-column">MHHW+</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
      <td class="num-column">**</td>
    </tr>

    <tr class="last-note">
      <td colspan="6" style="text-align:left">**No corresponding ART Sea Level Rise and Shoreline Analysis map in the Flood Explorer.</td>
    </tr>

  </tbody>
</table>