<div id="slr-geolocate-wrapper" class="cm-tooltip-bottom tooltip-line-breaks" cm-tooltip-msg="
    Find location by address, placename, or coordinates. &#xa;
    Examples :&#xa;
    &nbsp;&nbsp;&nbsp;&nbsp;• 375 Beale Street &#xa;
    &nbsp;&nbsp;&nbsp;&nbsp;• San Francisco Bay Conservation & Development Commission &#xa;
    &nbsp;&nbsp;&nbsp;&nbsp;• 37.788, -122.391 &#xa;
">
  <input type="test" id="slr-geolocate-input" placeholder="Enter address or location." />
  <div id="slr-geolocate-submit"></div>
</div>

<div class="slr-header-tool-wrapper">
  <span>Get Involved</span>
  <i id="slr-tool-get-involved" class="slr-menu-item cm-tooltip-bottom" cm-tooltip-msg="Get Involved"></i>
</div>
<div class="slr-header-tool-wrapper">
  <i id="slr-tool-help" class="slr-menu-item cm-tooltip-bottom" cm-tooltip-msg="Disclaimer & Tutorial"></i>
</div>
<div class="slr-header-tool-wrapper">
  <i id="slr-tool-feedback" class="slr-menu-item cm-tooltip-bottom" cm-tooltip-msg="Give Feedback"></i>
</div>
<div class="slr-header-tool-wrapper">
  <i id="slr-tool-print" class="slr-menu-item cm-tooltip-bottom" cm-tooltip-msg="Print Map"></i>
</div>