<div class="glossary-ommf" style="display:none;">
  <h3>One Map, Many Futures</h3>
  <p>The "One Map, Many Futures" approach allows you to look at a map of a single total water level (TWL) and see flooding resulting from these different scenarios. For example, a TWL of 36-inches above today's high tide can result from scenarios such as: </p>
  <p class="indent"><strong>a.</strong> 50-year storm today, </p>
  <p class="indent"><strong>b.</strong> 6-inches of sea level rise plus a 25-year storm in the short term, or </p>
  <p class="indent"><strong>c.</strong> 36-inches of sea level rise in the long-term. </p>
  <p>This approach allows us to plan actions to address temporary impacts of today's winter storms while simultaneously planning to address permanent flooding from sea level rise.</p>
  <a href="images/FloodConcepts_Glossary_OMMF.jpg" target="_blank">
    <img class="modal-glossary-img" src="images/FloodConcepts_Glossary_OMMF.jpg" alt="One map, many futures" />
  </a>
</div>

<div class="glossary-mhhw" style="display:none;">
  <h3>Mean Higher-High Water (MHHW)</h3>
  <p>Average high tide to provide a base elevation from which to add water from sea level rise or storm surge. MHHW is chosen as the base elevation to ensure the flood maps help us plan for the highest water level we can expect to see on a daily basis (many assets will not be useable if they flood once per day). Specifically, MHHW is calculated by averaging the higher of the two high tides in daily tide cycle during the current National Tidal Datum Epoch, which is a specific 19-year period (1983 to 2001) adopted by NOAA to perform tidal computations and measure change.</p>
</div>

<div class="glossary-sea-level-rise" style="display:none;">
  <h3>Sea Level Rise</h3>
  <p>The worldwide average rise in mean sea level, due to thermal expansion of sea water and the addition of water to the oceans from the melting of glaciers, ice caps, and ice sheets caused by climate change. </p>
  <p>Sea levels are not rising at the same rate across the globe, so scientists produce future projections for local sea level rise for different segments of coast, quantifying where the uncertainties lie in their models. The State of California’s newly updated sea level rise projections and policy guidance (2017-2018) recommends that jurisdictions and developers consider high or low projections depending on a variety of factors, such as lifespan of project, adaptive capacity, and risk tolerance/aversion. As such, sea level rise scenarios must be considered on a case by case basis. To learn more about applying the ART Bay Area Flood Explorer to the California State Sea Level Rise Guidance, <a class="site-link" href="/about/a-projections" goto="about#a-projections">click here</a>. </p>
  <a href="images/FloodConcepts_Glossary_SLR.jpg" target="_blank">
    <img class="modal-glossary-img" src="images/FloodConcepts_Glossary_SLR.jpg" alt="Sea level rise" />
  </a>
</div>

<div class="glossary-inundation" style="display:none;">
  <h3>Depth of Flooding</h3>
  <p>Indicates the depth of flooding over land. In these maps, the darker the blue the deeper the flooding. The depth of flooding can be greater than the total water level if the elevation of the flooded area is below Mean Higher High Water.</p>
  <a href="images/FloodConcepts_Glossary-DepthFlooding.jpg" target="_blank">
    <img class="modal-glossary-img" src="images/FloodConcepts_Glossary-DepthFlooding.jpg" alt="Depth of flooding" />
  </a>
</div>

<div class="glossary-storm-surge" style="display:none;">
  <h3>Storm Surge</h3>
  <p>A storm surge is an abnormal rise of water generated by high winds and low atmospheric pressure in the presence of a storm that is over and above the predicted astronomical tide. Often times these storms are explained in terms of the probability that they will occur in a given year. For example: </p>
  <ul style="text-align:left;">
    <li>5-year storm surge has a 1-in-5 chance (20% chance) of occurring any given year</li>
    <li>50-year storm surge has a 1-in-50 chance (2% chance) of occurring any given year</li>
  </ul>
  <p>Just as you will have a 50% chance of getting heads each time you flip a coin, there is a 2% chance of 50-year major storm each year. Larger storm surges, like a 50-year storm, will produce greater flooding. However, even small storms can cause flooding and disruptions in low elevation areas.</p>
  <a href="images/FloodConcepts_Glossary_StormSurge.jpg" target="_blank">
    <img class="modal-glossary-img" src="images/FloodConcepts_Glossary_StormSurge.jpg" alt="Storm surge" />
  </a>
</div>

<div class="glossary-overtopping" style="display:none;">
  <h3>Shoreline Overtopping</h3>
  <p>Shoreline overtopping refers to the condition where the total water level associated with a particular flood scenario exceeds the elevation of the shoreline, allowing water to flow inland. The overtopping mapping shows which segments of the shoreline are impacted. The depth to which each segment is overtopped under each flood scenario is displayed when you click on an individual shoreline segment. This information helps identify and target adaptation strategies to those spots that pose the greatest risk. Shoreline overtopping does not account for the physics of wave run-up.</p>
  <a href="images/FloodConcepts_Glossary-Overtopping.jpg" target="_blank">
    <img class="modal-glossary-img" src="images/FloodConcepts_Glossary-Overtopping.jpg" alt="Shoreline overtopping" />
  </a>
</div>

<div class="glossary-lowlying" style="display:none;">
  <h3>Low-lying Areas</h3>
  <p>Areas below the total water level, but not hydraulically connected to the flooded areas due to protection by levees or other topographic features. While the maps do not currently show flooding in these areas, it is important to map them as potentially vulnerable to flooding because they may be connected through culverts, storm drains, or other features (that are not captured in the maps) to adjacent flooded areas.</p>
  <a href="images/glossary-low-lying-areas.png" target="_blank">
    <img class="modal-glossary-img" src="images/glossary-low-lying-areas.png" alt="Low-lying area" />
  </a>
</div>

<div class="glossary-legaldelta" style="display:none;">
  <h3>Legal Delta</h3>
  <p>Delineates the legal Delta established under the Delta Protection Act (Section 12220 of the Water Code) passed in 1959. </p>
</div>

<div class="glossary-consequence" style="display:none;">
  <h3>Consequence</h3>
  <p>ART Bay Area conducted an analysis based on factors that pointed to “regional significance” – impacts that would create rippling consequences that would be felt throughout the region. These factors – called Consequence Indicators – vary across each regional system but provide a measure of impact not captured by flood exposure alone. Thirty-two indicators across the four systems give a measure of impacts, or consequences, to people, the economy, and the environment that could happen as rising seas lead to shoreline flooding.</p>
  <p>The Bay Shoreline Flood Explorer visualizes only a few of the total indicators analyzed in ART Bay Area.</p>
  <p>
    <a href="http://www.adaptingtorisingtides.org/project/art-bay-area/" target="_blank" rel="noopener">
      Read the full ART Bay Area report to learn more.
    </a><br />
    Consequence methods and limitations: 
    <a href="http://www.adaptingtorisingtides.org/wp-content/uploads/2020/03/ARTBayArea_Appendix_Final_March2020_ADA.pdf" target="_blank" rel="noopener">
      ART Bay Area Appendix
    </a>
  </p>
</div>

<div class="glossary-highways-vehicles" style="display:none;">
  <h3>AADT</h3>
  <p>Annual average daily traffic (AADT) is the total volume of vehicle traffic on a highway for a year divided by 365 days.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-aadt" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-highways-trucks" style="display:none;">
  <h3>AADTT</h3>
  <p>Annual average daily truck traffic (AADTT) is the total volume of truck traffic on a highway for a year divided by 365 days.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-aadtt" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-job-spaces" style="display:none;">
  <h3>Job Spaces</h3>
  <p>2010 job spaces.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-job-spaces" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-highways-lifeline" style="display:none;">
  <h3>Lifeline Route</h3>
  <p>Lifeline Routes are designated by MTC and represent routes that are of critical importance to regional mobility.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-lifeline-route" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-commuter-rail-lines" style="display:none;">
  <h3>Passenger Flow</h3>
  <p>Passenger Flow Ridership is the total number of people who travel along a given stretch between two stations on an average weekday.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-passenger-flow" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-commuter-rail-stations" style="display:none;">
  <h3>Station Ridership</h3>
  <p>Station Ridership is the average weekday exits from each station.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-station-ridership" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-photo-user-days" style="display:none;">
  <h3>Photo User Days</h3>
  <p>Photo User Days are estimates of the number of unique visitors to a location over a ten year period using photos uploaded to social media.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-pud" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-res-units" style="display:none;">
  <h3>Residential Units</h3>
  <p>2010 residential units.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-res-units" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-tidal-marsh" style="display:none;">
  <h3>Acres</h3>
  <p>Acres of tidal marsh.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-tidal-marsh" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-vulcom-social" style="display:none;">
  <h3>Social Vulnerability</h3>
  <p>Social Vulnerability refers to a communities ability to plan for, respond to, and recover from a disaster. </p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-socvul" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-vulcom-contam" style="display:none;">
  <h3>Contamination Vulnerability</h3>
  <p>Contamination Vulnerability refers to environmental health burdens that could be exacerbated in a disaster. </p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-contamvul" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-vulcom-social-res" style="display:none;">
  <h3>Socially Vulnerable Housing</h3>
  <p>2010 residential units in block groups considered socially vulnerable.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-socvul" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="glossary-vulcom-contam-res" style="display:none;">
  <h3>Contamination Vulnerable Housing</h3>
  <p>2010 residential units in block groups considered contamination vulnerable.</p>
  <div class="glossary-more-info">
    <p><strong>For more information:</strong></p>
    <ul>
      <li><a href="glossary/a-contamvul" target="_blank">Glossary</a></li>
      <li><a href="about/a-consequence" target="_blank">About Consequence Maps</a></li>
      <li><a href="about/a-consequence-methods" target="_blank">Consequence Map Methods and Limitations</a></li>
    </ul>
  </div>
</div>

<div class="return-legend-btn btn2" style="display:none;">Return to Legend</div>