<div class="glossary-shoreline glossary-engineered-levee" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_EngineeredLevee.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_EngineeredLevee.jpg" alt="Engineered Levee" />
  </a>
  <p>Features were designated as ‘Engineered’ if a feature 1) was assigned as ‘accredited’ or ‘once accredited’ by FEMA or 2) a city, county, or agency representative confirmed that the levee had been engineered for flood protection. Generally, these features have two slopes, a classic levee shape, but in some cases engineered levees only had one slope.</p>
</div>

<div class="glossary-shoreline glossary-floodwall" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_Floodwall.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_Floodwall.jpg" alt="Floodwall" />
  </a>
  <p>Floodwalls, with two distinct sides and vertical walls, are generally narrower than levees and were captured based on aerial imagery or local knowledge provided by stakeholders and/or agency representatives. </p>
</div>

<div class="glossary-shoreline glossary-berm" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_Berm.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_Berm.jpg" alt="Berm" />
  </a>
  <p>Features with a “levee” shape (two slopes), but not specifically engineered for flood risk management. </p>
</div>

<div class="glossary-shoreline glossary-shoreline-protection-structure" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_ShorelineProtectionStructure.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_ShorelineProtectionStructure.jpg" alt="Shoreline Protection Structure" />
  </a>
  <p>Features with only one sloped side, often protecting an area of fill and located in areas of heavy development along the Bay shoreline. </p>
</div>

<div class="glossary-shoreline glossary-embankment" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_Embankments.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_Embankments.jpg" alt="Embankment" />
  </a>
  <p>Features which only have one sloped side and are inland of the Bay shoreline were classified as embankments. Embankments generally line creek banks and sloughs, however in some cases embankments were mapped along natural slopes inland of the Bay shoreline (if they are the first feature inland of mapped wetlands).</p>
</div>

<div class="glossary-shoreline glossary-transportation-structure" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_TransportationStructure.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_TransportationStructure.jpg" alt="Transportation Structure" />
 </a>
  <p>Transportation structures were mapped on the edge (or centerline of narrower structures) of a railroad track or a major road. All railroads and a sub-set of major roads were classified as transportation structures regardless of the feature shape (e.g., one and two slopes). Only roads that were elevated from the surrounding landscape were mapped. If a road was part of an engineered levee, then the feature was mapped as an engineered levee.</p>
 </div>

<div class="glossary-shoreline glossary-natural-shoreline" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_NaturalShoreline.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_NaturalShoreline.jpg" alt="Natural Shoreline" />
  </a>
  <p>The edge of predominantly natural land (e.g., cliffs, bluffs) was mapped as natural shoreline at the first major slope break along the Bay shoreline. </p>
</div>

<div class="glossary-shoreline glossary-wetland" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_Wetland.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_Wetland.jpg" alt="Wetland" />
  </a>
  <p>Wetlands were mapped along the Bay shoreline and along major slough channels and tributaries to the Bay. The edge of wetlands were mapped corresponding to the marsh edge scarp in the digital elevation model. </p>
</div>

<div class="glossary-shoreline glossary-channel-opening" style="display:none;">
  <p>This class mainly identified breaks in mapped features where openings were not apparent in the digital elevation model, such as running under levees or berm features. This class was also used to map some passive water control structures and tidal channels. </p>
  <a href="images/FloodConcepts_Glossary-ShorelineType_ChannelOpening.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_ChannelOpening.jpg" alt="Channel or Opening" />
  </a>
</div>

<div class="glossary-shoreline glossary-water-control-structure" style="display:none;">
  <a href="images/FloodConcepts_Glossary-ShorelineType_WaterControlStructure.jpg" target="_blank">
    <img class="modal-glossary-shoreline-img" src="images/FloodConcepts_Glossary-ShorelineType_WaterControlStructure.jpg" alt="Water Control Structure" />
  </a>
  <p>This class identifies water control structures (e.g., tide gates, pump stations) based on aerial imagery or knowledge from agency representatives. </p>
</div>