<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-1.jpg">
  Welcome to the <strong>ART Bay Area Shorline Flood Explorer</strong>. This overview will cover the basics of using the Flood Explorer interface. Note that depending on your window size, some elements may appear slightly differently on your screen. To move through the tutorial, click on the <strong>&#10094;</strong> or <strong>&#10095;</strong> buttons on the sides of the above image.
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-1.jpg" tutorial-image="images/tutorial/overlay-1.png">
  The Flood Explorer visualizes different flooding scenarios, which can be selected by clicking or dragging the <strong>slider</strong> on the left of the screen to change the <strong>Total Water Level</strong>. These flooding scenarios display tidally-influenced sea level rise and storm surge flooding, not riverine floods.
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-2.jpg" tutorial-image="images/tutorial/overlay-2.png">
  On changing the <strong>Total Water Level</strong>, the map layers will update to match your selection.
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-2.jpg" tutorial-image="images/tutorial/overlay-3.png">
  As a Total Water Level is chosen, the <strong>‘One Map, Many Futures’</strong> panel (top right) changes to reflect information about different scenarios of sea level rise and storm surge that can cause the selected amount of flooding (the total water level).
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-3.jpg" tutorial-image="images/tutorial/overlay-4.png">
  You can select the <strong>‘Choose a Scenario’</strong> tab in the <strong>‘One Map, Many Futures’</strong> panel to select specific sea level rise and storm surge combinations to see the resulting total water level. As you select a sea level rise and storm surge scenario, the slider and map will update to the corresponding Total Water Level.
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-4.jpg" tutorial-image="images/tutorial/overlay-5.png">
  You can <strong>‘Choose Impact to Display’</strong> (lower-right hand) by selecting either <strong>“Flooding”</strong> or <strong>“Consequences”</strong> tab at the top of the panel. This will display specific symbology and layer controls for the chosen analysis mode.
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-5.jpg" tutorial-image="images/tutorial/overlay-5.png">
  The panel underneath <strong>‘Choose Impact to Display’</strong> allows you to control which layers are visible and set the transparency of those layers. You can click the <span class="cm-icon-container"><i class="cm-icon">?</i></span> icons in this window to learn more about that layer or metric.
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-4.jpg" tutorial-image="images/tutorial/overlay-6.png">
  The icons to the left of the ‘One Map, Many Futures’ panel are the <strong>map controls</strong>. Here you can zoom in/out, change the basemap, or upload your own data.
</p>
<p class="tutorial-text" tutorial-bg-image="images/tutorial/bg-4.jpg" tutorial-image="images/tutorial/overlay-7.png">
  Additional icons at the top of the screen allow you to learn how you can Get Involved, reopen the disclaimer/tutorial, provide feedback on the Explorer, print the map, and select which language to use.
</p>
<p class="tutorial-text"  tutorial-bg-image="images/tutorial/bg-4.jpg">
  That about covers the major functionality of the <strong>ART Bay Area Shorline Flood Explorer</strong>. Now go ahead and try it out on your own. Click the button below to exit the tutorial and go the Explorer. You can reopen this tutorial at anytime by clicking the <strong>"Help/Disclaimer"</strong> button <span class="cm-icon-container"><i class="cm-icon-help"></i></span> on the top menu bar.
</p>