
/* hide default range input */
input[type=range] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* thumb */
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #999;
  height: 1.6em;
  width: 1.6em;
  margin-top: 0em;
  border-radius: 0.8em;
  background: #f3f3f3;
  cursor: pointer;
}
input[type=range]:hover::-ms-thumb {
  box-shadow: inset 0px 0px 4px #a5c6ea;
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #999;
  height: 1.6em;
  width: 1.6em;
  margin-top: -0.7em;
  border-radius: 0.8em;
  background: #f3f3f3;
  cursor: pointer;
}
input[type=range]:hover::-moz-range-thumb {
  box-shadow: inset 0px 0px 4px #a5c6ea;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #999;
  height: 1.6em;
  width: 1.6em;
  margin-top: -0.7em;
  border-radius: 0.8em;
  background: #f3f3f3;
  cursor: pointer;
}
input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: inset 0px 0px 4px #a5c6ea;
}

/* track */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #9CABBC;
  border-radius: 3px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.3em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #9CABBC;
  border-radius: 3px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0.3em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #9CABBC;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #9CABBC;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}