#slr-menu-responsive-wrapper {
  display: none;
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: 23px;
  text-align: center;
  pointer-events: none;
}
#slr-menu-responsive {
  position: relative;
  display: inline-block;
  margin-left: -100%;
  pointer-events: auto;
}

.cm-modal-inner {
  max-height: 96%;
  overflow-y: auto;
}

/* mobile toggle for consq mode */
#slr-mode-toggle-wrapper, #slr-mode-toggle {
  display: none;
}
#slr-mode-toggle-wrapper {
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;
  padding-left: 22px;
}
#slr-mode-toggle {
  width: 380px;
  margin: auto;
  border-radius: 4px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
  padding: 6px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
#slr-mode-toggle.tooltip-line-breaks:after {
  padding: 6px 12px 6px 12px;
  line-height: 1.3em;
}
#slr-mode-toggle-switch {
  position: relative;
  width: 80px;
  height: 30px;
  border-radius: 18px;
  background-color: #199e95;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}
#slr-mode-toggle-switch:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
#slr-mode-toggle.on #slr-mode-toggle-switch:before {
  -webkit-transform: translateX(49px);
  -ms-transform: translateX(49px);
  transform: translateX(49px);
}
#slr-mode-toggle-label {
  font-size: 1.4em;
  margin: 0 6px;
  font-weight: bolder;
}

/* basic mobile view show/hide class */
@media screen and (min-width: 840px) {
  .mobile-view-hide {
    display: initial;
  }
  .mobile-view-show {
    display: none !important;
  }
}
@media screen and (max-width: 840px) {
  .mobile-view-hide {
    display: none !important;
  }
  .mobile-view-show {
    /* note you should override this if block isn't what you want' */
    display: block;
  }
}

/* splash page, vertical scaling (min-width so it doesn't affect mobile scaling) */
/*@media screen and (min-width: 840px) and (max-height: 700px) {
  #splash-logo {
    width: 145px;
  }
  #splash-title, #splash-subtitle {
    text-indent: 175px;
  }
}*/
/* wide by slightly-short splash */
@media screen and (min-width: 840px) and (max-height: 600px) {
  #splash-content {
    top: 60%;
  }
  #splash-bottom-content {
    display: none;
  }
}
/* Wide by short splash */
@media screen and (min-width: 840px) and (max-height: 550px) {
  #splash-text {
    display: none;
  }
}

/* mobile view */
@media screen and (max-width: 840px) {
  body.in-storymap .goog-te-banner-frame.skiptranslate {
    display: none;
  }
  body.in-storymap #google_translate_element {
    display: none;
  }
  
  p.subtitle {
    font-size: 0.7em !important;
  }
  
  #footer {
    font-size: 0.8em;
  }
  #footer-flex {
    width: 95%;
  }
  
  /* force modals to be, well modal and bigger */
  #cm-modal-outer {
    background: rgba(200, 200, 200, 0.4) !important;
  }
  .cm-modal-inner {
    width: 90% !important;
    min-height: 40%;
    font-size: 2.0em;
  }
  #cm-modal-loading-dialog {
    position: relative;
  }
  #cm-modal-loading-dialog div {
    position: absolute;
    top: 40%;
    width: 100%;
  }
  #cm-modal-loading-dialog img {
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    margin-right: 10px;
    margin-bottom: -6px;
  }
  
  /* flex layout in modal */
  .cm-modal-inner, .slr-modal {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cm-modal-inner > div, .cm-modal-inner > p {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .slr-modal > * {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .slr-modal h3:first-child {
    -ms-flex: 0 !important;
    -webkit-flex: 0 !important;
    flex: 0 !important;
  }
  .slr-modal-btn {
    -ms-flex: 0 !important;
    -webkit-flex: 0 !important;
    flex: 0 !important;
  }
  
  /* tooltips */
  .cm-tooltip-top:after, .cm-tooltip-left:after, .cm-tooltip-bottom:after, .cm-tooltip-right:after {
    font-size: 1.2em;
  }
  
  /* hide slr stuff */
  #slr-side-panel {
    display: none !important;
  }
  #slr-map-controls {
    display: none !important;
  }
  
  /* slr mode toggle */
  #slr-mode-toggle-wrapper {
    display: flex !important;
  }
  
  /* slr menu */
  #slr-menu {
    display: none !important;
  }
  #slr-menu-responsive-wrapper {
    display: block !important;
  }
  .slr-menu-item {
    margin-bottom: 0;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    background-size: 58px 58px;
    background-position-x: 1px;
    background-position-y: 1px;
  }
  #slr-tool-print {
    background-size: 56px 56px;
    background-position-x: 2px;
    background-position-y: 2px;
  }
  #slr-tool-more {
    background-size: 54px 54px;
    background-position: 3px 3px;
  }
  
  /* slr slide */
  .slr-slider-tick-label {
    font-size: 1em;
  }
  #slr-slide-popup {
    width: 380px;
    font-size: 1.25em;
  }
  
  /* map stuff */
  #slr-popup-content {
    font-size: 1.2em;
  }
  
  /* slr modals */
  #slr-splash-modal {
    font-size: 1.2em;
  }
  #slr-splash-modal .btn2 {
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 0.6em;
  }
  .slr-basemap-select {
    padding: 12px 6px;
  }
  #modal-slr-geolocator ul {
    font-size: 0.7em;
  }
  #slr-modal-upload ul {
    width: 95%;
    font-size: 0.5em;
  }
  #slr-upload-form {
    width: 95%;
  }
  #slr-upload-form p {
    font-size: 0.6em;
  }
  
  /* slr legend modal */
  .slr-legend, .slr-layer-opacity-ctrl {
    font-size: 0.85em;
    color: #000;
  }
  .slr-legend-main-label .cm-icon, 
  .slr-legend-main-label2 .cm-icon{
    width: 32px;
    height: 32px;
    font-size: 0.9em;
    line-height: 1.4em;
  }
  .slr-layer-opacity-ctrl label {
    color: #000;
  }
  .slr-legend-main-label {
    font-size: 0.9em;
    font-weight: bolder;
    padding: 6px !important;
  }
  .slr-legend-sub-label-wrapper {
    margin-top: 0 !important;
  }
  .slr-legend-sub-label {
    font-size: 0.7em;
    line-height: 1.25em;
  }
  
  /* shoreline type glossary modal */
  .glossary-shoreline img {
    max-width: 90vw;
    width: auto;
  }
  .glossary-shoreline p {
    font-size: 0.9em;
  }
  
  /* consequence widget */
  .slr-widget-button {
    width: 6em;
    height: 6em;
    margin: 0.4em;
    border-radius: 3em;
  }
  .slr-widget-button:hover {
    background-position: 0 -1em;
  }
  .slr-widget-button i {
    font-size: 4em;
    line-height: 0.6em;
  }
  .slr-widget-button img {
    max-width: 4em;
    max-height: 4em;
  }
  .slr-widget-button.cm-tooltip-top:before, 
  .slr-widget-button.cm-tooltip-top:after {
    display: none;
  }
  .slr-legend-widget .slr-legend-item .slr-legend-main-label {
    color: #000;
  }
/* splash mobile view */
@media screen and (max-width: 840px) {
  #splash-content {
    max-width: none;
    width: 90%;
    left: -20px;
    top: 50%;
    font-size: 0.85em;
  }
  #splash-logo {
    display: block;
    right: auto;
    left: 4px;
    width: 145px;
  }
  #splash-subtitle, #splash-title {
    padding-left: 160px;
    text-align: left;
  }
  #splash-text {
    font-size: 1.4em;
  }
  #splash-menu {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .menu-item-wrapper {
    width: 100%;
  }
  .menu-item-subtitle {
    display: none !important;
  }
  #splash-menu .menu-item {
    display: block;
    width: 95%;
    margin: auto;
    margin-bottom: 12px;
    font-size: 1.5em;
  }
  #splash-bottom-content {
    bottom: -10em;
    width: 60%;
    margin-left: 20%;
    font-size: 1em;
  }
}
/* splash mobile view, full height */
@media screen and (max-width: 840px) {
  #splash-logo {
    top: 40px;
    width: 145px;
  }
  #splash-subtitle {
    font-size: 2.2em;
  }
  #splash-title {
    padding-left: 160px;
    font-size: 5.7em;
  }
}
/* splash mobile view, below-normal height */
@media screen and (max-width: 840px) and (max-height: 800px) {
  #splash-content {
    top: 55%;
  }
  #splash-bottom-content {
    display: none;
  }
}
/* splash mobile view, small width, full height */
@media screen and (max-width: 650px) {
  #splash-logo {
    top: 40px;
    width: 115px;
  }
  #splash-subtitle, #splash-title {
    padding-left: 130px;
  }
  #splash-subtitle {
    font-size: 1.9em;
  }
  #splash-title {
    font-size: 4.8em;
  }
}
/* mobile in horizontal view */
@media screen  and (max-width: 840px) and (max-height: 650px) {
  /* override the scaling properties from above */
  #splash-content, #splash-menu {
    font-size: 1em;
  }
  #splash-subtitle {
    margin-right: 0;
  }
  #splash-text {
    display: block;
  }
  /* splash content rearranged via css */
  #splash-content {
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
  }
  #splash-logo {
    display: block;
    top: 45px;
    width: 155px;
  }
  #splash-subtitle, #splash-title {
    padding-left: 175px;
  }
  #splash-text {
    font-size: 0.8em;
  }
  #splash-menu {
    height: auto;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  #splash-menu .menu-item-wrapper {
    margin-left: 10px;
    box-sizing: border-box;
  }
  #splash-menu .menu-item-wrapper:first-child {
    margin-left: 0;
  }
  #splash-menu .menu-item-wrapper:first-child .menu-item-subtitle {
    margin-left: 5px;
  }
  #splash-menu .menu-item {
    display: inline-block;
    width: calc(100% - 10px);
    margin-bottom: 0;
    font-size: 0.9em;
  }
  #splash-menu .menu-item-subtitle {
    font-size: 0.6em;
  }
  #splash-bottom-content {
    display: none;
  }
  /* message about incompatible screen in slr mode */
  #slr-screen-warning {
    display: flex;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    z-index: 999;
  }
  #header {
    z-index: 99;
  }
  #cm-modal-outer {
    z-index: 9;
  }
}
/* landscape view with decreasing sizes */
@media screen and (max-width: 840px) and (max-height: 650px) {
  #splash-subtitle {
    font-size: 2em;
  }
  #splash-title {
    font-size: 5em;
  }
}
@media screen and (max-width: 820px) and (max-height: 500px) {
  #splash-logo {
    display: block;
    top: 40px;
    width: 135px;
  }
  #splash-subtitle, #splash-title {
    padding-left: 145px;
  }
  #splash-subtitle {
    font-size: 1.6em;
  }
  #splash-title {
    font-size: 4.5em;
  }
}
@media screen and (max-width: 660px) and (max-height: 660px) {
  #splash-logo {
    display: block;
    top: 30px;
    width: 135px;
  }
  #splash-subtitle, #splash-title {
    padding-left: 145px;
  }
  #splash-subtitle {
    font-size: 1.6em;
  }
  #splash-title {
    font-size: 4em;
  }
}
@media screen and (max-width: 660px) and (max-height: 500px) {
  #splash-logo {
    width: 80px;
    top: 0px;
  }
  #splash-subtitle, #splash-title {
    padding-left: 90px;
  }
  #splash-subtitle {
    font-size: 1.2em;
  }
  #splash-title {
    font-size: 2.8em;
  }
  #splash-title br {
    display: none;
  }
}
/* Special case when still relatively wide but no height */
@media screen and (max-width: 820px) and (min-width: 660px) and (max-height: 390px) {
  #splash-text {
    display: none;
  }
}
/* For extra small landscape view */
@media screen and (max-width: 620px) and (max-height: 500px) {
  #splash-content, #splash-menu {
    font-size: 0.9em;
  }
  #splash-logo {
    top: -5px;
  }
}
@media screen and (max-width: 570px) and (max-height: 500px) {
  #splash-logo {
    display: none;
  }
  #splash-subtitle, #splash-title {
    padding-left: 0;
  }
}
@media screen and (max-width: 620px) and (max-height: 275px) {
  #splash-text {
    display: none;
  }
}
/* mobile view and google translate element */
@media screen and (max-width: 840px) {
  /* translate element scaling */
  #google_translate_element {
    transform: scale(1.1) !important;
    top: 38px !important;
    right: 30px !important;
  }
  .goog-te-banner-frame.skiptranslate {
    left: auto;
    bottom: auto;
    right: 0;
    top: 38px !important;
  }
}