/* library styles */
@import url("ol.css");
@import url("../js/lib/common/dist/common.min.css");
/* application styles */
@import url("defaults.css");
@import url("custom-input-range.css");
@import url("animations.css");
@import url("site.css");
@import url("splash.css");
@import url("sidebar.css");
@import url("footer.css");
@import url("slr.css");
@import url("slr-side-panel.css");
@import url("slr-legend.css");
@import url("slr-map.css");
@import url("slr-modals.css");
@import url("slr-slider.css");
@import url("slr-tutorial.css");
/* because ie.. */
@import url("ie-is-special.css");
/* customize google translate's top bar */
@import url("google-translate.css");
/* print layout */
@import url("print-map.css");
/* responsive always last to have priority */
@import url("slr-responsive.css");