<p class="align-justify" style="margin-top:0;">
  Select sea level rise and storm surge to see Total Water Level and compare permanent and temporary impacts.
  <!-- matched to <span id="slr-scenario-txt-county">the SF-Bay Region</span> dataset. -->
</p>
<p class="scenarios-header">1. Choose Sea Level Rise</p>
<div id="scenarios-slr" class="scenarios-picker"></div>
<p class="scenarios-header">2. Choose Storm Surge</p>
<div id="scenarios-stormsurge" class="scenarios-picker"></div>
<div id="scenarios-result" class="scenarios-output" style="display:none;">
  <div class="flex-a">
    <h2><span id="slr-scenario-txt-depth"></span>"</h2>
  </div>
  <div class="flex-b">
    <h1>Total Water Level</h1>
    <p></p>
  </div>
</div>