<i id="slr-tool-scenarios" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="Flooding Scenarios"></i>
<i id="slr-tool-legend" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="Map Legend"></i>
<i id="slr-tool-zoomin" class="slr-menu-item mobile-view-hide cm-tooltip-left" cm-tooltip-msg="Zoom In"></i>
<i id="slr-tool-zoomout" class="slr-menu-item mobile-view-hide cm-tooltip-left" cm-tooltip-msg="Zoom Out"></i>
<i id="slr-tool-geolocate" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="Locate by Address"></i>
<i id="slr-tool-geolocation" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="Find My Location"></i>
<i id="slr-tool-basemaps" class="slr-menu-item cm-tooltip-left" cm-tooltip-msg="Change Basemap"></i>
<i id="slr-tool-uda" class="slr-menu-item cm-tooltip-left mobile-view-hide" cm-tooltip-msg="Upload Data"></i>
<i id="slr-tool-more" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="More.."></i>