<i id="slr-tool-scenarios" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="Flooding Scenarios"></i>
<i id="slr-tool-legend" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="Map Legend"></i>
<i id="slr-tool-defaultview" class="default-view-menu-item" cm-tooltip-msg="Default View">Reset to default view</i>
<i id="slr-tool-geolocate" class="slr-menu-item cm-tooltip-left mobile-view-show explohide" cm-tooltip-msg="Locate by Address"></i>
<i id="slr-tool-geolocation" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="Find My Location"></i>
<i id="slr-tool-more" class="slr-menu-item cm-tooltip-left mobile-view-show" cm-tooltip-msg="More.."></i>
