.animate-rotate, .animate-unrotate {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.animate-rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}
.animate-unrotate {
  -webkit-animation-name: unrotate;
  animation-name: unrotate;
}
@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes rotate { 
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-moz-keyframes unrotate {
  0% {
    -moz-transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes unrotate { 
  0% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes unrotate {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}