/* defaults */
body {
  background: #f3f3f3;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family:'Century Gothic',CenturyGothic,Geneva,AppleGothic,sans-serif;
  font-size: 1em;
  color: #373534;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
  color: #09f;
}
a:visited {
  
}
blockquote {
  margin-left: 2em;
  padding-left: 2em;
  border-left: 6px solid #aaa;
  font-size: 0.9em;
  font-style: italic;
  text-align: justify;
}
h1, h2, h3 {
  font-family: 'Oswald','Century Gothic',CenturyGothic,Geneva,AppleGothic,sans-serif;
  letter-spacing: 0.03em;
}
h1 {
  color: #000;
  padding-bottom: 4px;
  border-bottom: 1px dotted #373534;
}
h2 {
  font-size: 1.35em;
  color: #004785;
}
h3 {
  color: #9ec542;
  font-weight: bolder;
}
.spacer {
  display: block;
  height: 72px;
}
input {
  font-family:'Century Gothic',CenturyGothic,Geneva,AppleGothic,sans-serif;
  font-size: 0.8em;
}
input[type="text"] {
  cursor: text;
}

/* some helpful paragraph styles */
p.indent {
  text-indent: 20px;
}
p.hanging-indent {
  text-indent: -20px;
  margin-left: 20px;
}
.subtitle {
  font-style: italic;
  color: #ddd;
}
.caption {
  margin: 0;
  text-align: center;
  font-size: 0.8em;
  color: #ddd;
}

/* list style */
li ul {
  margin-left: 0 !important;
  margin-top: 5px;
}
li {
  margin-bottom: 0.35em;
}
ul.no-style {
  margin-left: 0 !important;
  padding-left:0 !important;
}
ul.no-style li {
  list-style-type: none !important;
  margin: 8px 0 !important;
}

/* some helpful class shortcuts */
.center {
  margin: auto;
}
.align-center {
  text-align: center !important;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.align-justify {
  text-align: justify !important;
}
.clickable {
  cursor: pointer;
}
.error {
  color: #f00;
}
.loading {
  background: url(../images/loader.gif) center center no-repeat;
}
.padding {
  padding: 0.4em !important;
}
.padding2 {
  padding: 0.8em !important;
}

/* Some basic image styling */
.image-style {
  display: block;
  margin: auto;
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);
}

/* generic table */
.style-table tbody {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.style-table {
  border-collapse: collapse;
  font-size: 0.75em;
}
.style-table td, .style-table th {
  /* needed for vertically aligned icons to work */
  position: relative;
  padding: 2px 4px;
}
.style-table th {
  /*background: #C5D7E1;*/
  background: #606465;
  color: #fff;
  border: 1px solid #888;
  border-top: none;
}
.th-bottom-border {
  border-bottom: 2px solid #b9cad8 !important;
}
.th-right-border {
  border-right: 1px solid #b9cad8 !important;
}
.style-table tr:nth-child(even) {
  background: #eee;
}
.style-table td {
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}
.td-nodata {
  font-size: 11px;
  font-style: italic;
}

/* second type of button (btn is in common css) */
.btn2 {
  background-color: #4b693c;
  border: 1.4px dotted #fff;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
}
.btn2:hover {
  background-color: #9ec542;
}

.btn2.selected {
  background-color: #9ec542;
  box-shadow: inset 0 0 5px #627b6a;
}

.btn2:disabled, .btn2.disabled {
  background-color: #323a25;
  border-color: #aaa;
  color: #aaa;
  cursor: not-allowed;
}

/* input styling */
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

input[type='checkbox'] {
  width: 1.6em;
  height: 1.6em;
}

/* custom checkbox */
.checkbox {
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  background-color: #d5dce4;
  border: 1px solid #617d2e;
  box-shadow: inset 0px 0px 8px 2px #aebbc3;
  border-radius: 3px;
  padding: 2px;
  -moz-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.5s;
}
.checkbox:not(:checked):hover {
  box-shadow: inset 0px 0px 8px 2px #8497a0;
}
.checkbox:checked {
  background-color: #f3ff8e;
  border-color: #9ec542;
  box-shadow: none;
}
.checkbox:checked:after {
  position: absolute;
  top: -4px;
  left: 1px;
  color: #000;
  font-size: 1.4em;
  font-weight: bolder;
  content: '\2714';
}

/* Stylize/force scrollbars to show (issue with Safari mobile hiding scrollbars) */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* flex layouts to force childen at 100% height */
.flex {
  display: flex;;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
/* flex table */
.flex-table {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-table .row {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #bbb;
}
.flex-table .header {
  font-size: 1.05em;
  font-weight: bolder;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
}
.flex-table .cell {
  flex: 1 0;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  text-align: center;
  padding: 4px 12px;
}

/* a few overrides */
.cm-modal-inner {
  background-color: #f3f3f3;
  font-size: 1em;
}
.cm-tooltip-left:after, .cm-tooltip-right:after, .cm-tooltip-top:after, .cm-tooltip-bottom:after {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.9);
}
.cm-tooltip-right:before {
  border-right-color: #000;
  border-right-color: rgba(0, 0, 0, 0.9);
}
.cm-tooltip-left:before {
  border-left-color: #000;
  border-left-color: rgba(0, 0, 0, 0.9);
}
.cm-tooltip-top:before {
  border-top-color: #000;
  border-top-color: rgba(0, 0, 0, 0.9);
}
.cm-tooltip-bottom:before {
  border-bottom-color: #000;
  border-bottom-color: rgba(0, 0, 0, 0.9);
}
.tooltip-line-breaks:after {
  padding: 4px 12px 12px 0;
  white-space: pre;
  line-height: 0.8em;
}
#cm-modal-loading-dialog>div {
  margin-top: 8px;
}
#cm-modal-loading-dialog img {
  margin-bottom: -10px;
}