
#footer {
  flex: 0 0 auto;
  width: 100%;
  background: #13202b;
  margin: 0;
  padding-top: 0.7em;
  text-align: center;
  color: #c5c5c5;
  font-size: 0.71em;
  font-style: italic;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
#footer a {
  color: #fff;
}
#footer a {
  color: #fff;
}
.footer-logo:hover {
  text-decoration: none;
}
.footer-logo img {
  height: 4em;
  backface-visibility: hidden;
  margin: 0 0.3em;
  filter: saturate(80%);
  opacity: 0.9;
  -o-transition: filter 0.25s ease-out, opacity 0.25s ease-out;
  -moz-transition: filter 0.25s ease-out, opacity 0.25s ease-out;
  -webkit-transition: filter 0.25s ease-out, opacity 0.25s ease-out;
  transition: filter 0.25s ease-out, opacity 0.25s ease-out;
}
.footer-logo img:hover {
  filter: saturate(100%);
  opacity: 1;
}
.footer-row {
  width: 100%;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
#footer-top-row {
  padding-bottom: 6px;
}
#footer-bottom-row {
  padding-top: 6px;
  padding-bottom: 0.7em;
  border-top: 1px dotted #5a6169;
  background: #0f1519;
}
#footer-flex {
  width: 540px;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}
#footer-flex .panel-left {
  flex: 0 0 auto;
  border-right: 1px solid #777c80;
/*  padding-right: 10px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 240px;
  font-style: normal;
}
#footer-flex .panel-right {
  flex: 1 1 auto;
  padding-left: 10px;
  text-align: justify;
}