#print-button {
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: -0.15in;
  width: 125px;
  font-size: 0.9em;
}
#print-button i {
  position: absolute;
  top: 4px;
  right: 8px;
  width: 20px;
  height: 20px;
  background-size: 18px;
  background-position: 2px;
  background-repeat: no-repeat;
  background-image: url(../images/icons8-print.png);
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.print-page-landscape {
  position: relative;
  width: 11.0in;
  height: 8.3in;
  margin: 0.25in auto;
  box-shadow: 0 0 5px 0px #555;
}

#slr-print-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 0.2in;
  box-sizing: border-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-print-color-adjust: exact;
}

#slr-print-map {
  flex: 1 1 auto;
  height: 100%;
  background: #555;
  border: 1px solid #666;
  pointer-events: none;
  position: relative;
}
#slr-map-watermarks {
  position: absolute;
  bottom: 2px;
  right: 4px;
  opacity: 0.8;
}

.ol-scale-line {
  background: rgba(255,255,255,0.9);
}
.ol-scale-line-inner {
  border: 2px solid #000;
  border-top: none;
  color: #000;
  font-weight: bold;
  font-size: 0.8em;
}

#slr-print-sidebar {
  flex: 0 0 auto;
  width: 3.0in;
  height: 100%;
  box-sizing: border-box;
  padding-left: 0.15in;
}

#slr-print-info {
  font-size: 0.85em;
}
#slr-print-info h1 {
  font-size: 1.4em;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}
#slr-print-info h1 span {
  padding-left: 8px;
  color: #004785;
}

#slr-print-table {
  width: 100%;
  margin: 6px 0 10px 0;
  font-size: 0.75em;
  border: none;
  text-align: center;
  table-layout: fixed;
}
#slr-print-table th {
  background-color: #477ebc;
  padding-right: 0;
  color: #fff;
  font-weight: bolder;
  font-size: 1.1em;
}
#slr-print-table tr {
}
#slr-print-table tr:nth-child(even) {
  background: #ddd;
}
#slr-print-table td {
  border: none;
}
#slr-print-table th, #slr-print-table td {
  padding: 3px 0;
}

#slr-print-legend .slr-legend-intro, 
#slr-print-legend .slr-legend-main-label .slr-layer-visibility-ctrl, 
#slr-print-legend .cm-icon, 
#slr-print-legend .slr-layer-opacity-ctrl, 
#slr-print-legend .slr-legend-uda-ctrl, 
#slr-print-legend .slr-legend-widget-control, 
#slr-print-legend .slr-widget-empty, 
#slr-print-legend #slr-legend-print-consequence .slr-legend-item .slr-legend-main-label
{
  display: none !important;
}
#slr-print-legend .slr-legend-widget .slr-legend-main-label {
  color: #000;
}
#slr-print-legend .slr-legend-widget .slr-legend-main-label2 {
  color: #555;
}

#slr-print-info2 {
  text-align: justify;
  font-size: 0.7em;
  font-style: italic;
}

#slr-print-sidebar #slr-map-attributions {
  margin-top: 8px;
  color: #000;
  font-size: 0.7em;
}
#slr-print-sidebar #slr-map-attributions a {
  color: #000;
}

@media print {
  body {
    overflow: hidden !important;
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .print-page-landscape {
    margin: 0 !important;
    background: #faa;
    box-shadow: none !important;
  }
  #print-button {
    display: none;
  }
}