/* Sidebar */
#sidebar {
  position: fixed;
  top: 60px;
  right: calc(50% + 310px); /* based on stage content sizing */
  width: 180px;
}
@media screen and (max-width: 1000px) {
  #sidebar { display: none !important; }
}

#logo-bottom {
  text-align: center;
  font-size: 0.9em;
  margin-top: 12px;
}
#logo-bottom p {
  margin: 8px 0;
  font-size: 0.85em;
}
#logos-wrapper a img {
  -o-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  opacity: 0.8;
  backface-visibility: hidden;
}
#logos-wrapper img:hover {
  opacity: 1.0;
}
#logos-wrapper a:hover {
  text-decoration: none;
}

/* Navbar */
#navbar {
  box-shadow: 0 0 3px 0px #9fa3ad;
  border-radius: 4px;
  background: #fdfdfd;
  padding: 8px 4px;
  font-size: 0.85em;
/*  border-bottom: 1px dotted #999;
  padding-bottom: 4px;
  margin-bottom: 12px;*/
}
#navbar .hide-in-nav {
  display: none;
}
#navbar p.header {
  margin: 4px;
  color: #000;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}
#navbar hr {
  margin-top: 0;
}
#navbar p, ul, li {
  margin: 0;
}
#navbar p {
  margin: 2px 0 4px 4px;
}
#navbar ul {
  margin-left: 8px;
  padding-left: 24px;
}
#navbar li {
  margin-bottom: 4px;
}
#navbar a {
  color: #477ebc;
}
#navbar a:hover {
  text-decoration: none;
  color: #a5c6ea;
}
/* navbar build for list have bullets on nested */
ul.force-style {
  margin-left: 12px !important;
  -webkit-padding-start: 12px !important;
  -moz-padding-start: 12px !important;
  padding-inline-start: 12px !important;
}
ul.force-style li {
  list-style-type: disc !important;
  margin: 0 !important;
}

/* modals */
#lang-select-modal {
  width: 340px;
  padding: 8px;
}
#lang-select div {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  margin-bottom: 6px;
  padding: 1px 8px;
  padding-right: 24px;
  font-size: 0.9em;
}
#lang-select div img {
  position: absolute;
  top: 1px;
  right: 4px;
}