#slr-side-panel {
  display: none; /* Exploratorium modification -- remove side panel */
  position: absolute;
  top: 0;
  right: 0;
  width: 310px;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  border: 1px solid #666;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 0.95em;
}
.side-panel {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-y: hidden;
}
.side-panel p.subtitle {
  margin: 8px 0;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1em;
}
.side-panel-content {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 6px;
}
.side-panel-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255,255,255,.8);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.6);
}
.side-panel-title {
  position: relative;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #477ebc;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: #fff;
  font-family: 'Oswald','Century Gothic',CenturyGothic,Geneva,AppleGothic,sans-serif;
  letter-spacing: 0.12em;
  font-size: 1.1em;
  font-weight: bolder;
  text-transform: uppercase;
}
.side-panel-title .cm-icon {
  bottom: 4px !important;
  width: 20px !important;
  height: 20px !important;
  font-size: 16px !important;
  line-height: 18px  !important;
  box-sizing: border-box;
  padding-left: 1px; /* not quite center aligned somehow so push right */
  font-family: 'Century Gothic',CenturyGothic,Geneva,AppleGothic,sans-serif;
}
#slr-panel-top {
  height: 290px; /* initial height will get overwritten */
  min-height: 200px;
  font-size: 0.9em;
}
#slr-panel-bottom {
  min-height: 300px;
}
#slr-panel-drag {
  width: 100%;
  height: 8px;
  border: 1px solid #aaa;
  border-left: none;
  border-right: none;
  background: #ccc;
  box-shadow: inset 0 1px 1px 1px rgba(255,255,255,0.3);
  cursor: ns-resize;
  text-align: center;
  font-size: 8px;
  line-height: 8px;
  color: #000;
}

/* tabs */
.side-panel-tab-ctrl {
  text-align: center;
  list-style: none;
  margin: 0;
  background: #004785;
  padding: 0;
  padding-top: 2px;
  position: relative;
  font-weight: bolder;
  color: #000;
}
.side-panel-tab-ctrl:before {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #6d6d6d;
  z-index: 1;
}
.side-panel-tab-ctrl li {
  border: 1px solid #6d6d6d;
  background: #9ec542;
  display: inline-block;
  position:relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.4);
  margin: 0 -4px;
  padding: 3px 0;
  width: 46%;
  cursor: pointer;
}
.side-panel-tab-ctrl li:before,
.side-panel-tab-ctrl li:after {
  border: 1px solid #6d6d6d;
  position: absolute;
  bottom: -1px;
  width: 6px;
  height: 6px;
  content: "";
}
.side-panel-tab-ctrl li:before {
  left: -8px;
  border-bottom-right-radius: 6px;
  border-width: 0px 1px 1px 0px;
  box-shadow: 4px 0px 0 #9ec542;
}
.side-panel-tab-ctrl li:after {
  right: -8px;
  border-bottom-left-radius: 6px;
  border-width: 0px 0px 1px 1px;
  box-shadow: -4px 0px 0 #9ec542;
}
.side-panel-tab-ctrl li:hover {
  background: #f3ff8e;
}
.side-panel-tab-ctrl li:hover:before {
  box-shadow: 4px 0px 0 #f3ff8e;
}
.side-panel-tab-ctrl li:hover:after {
  box-shadow: -4px 0px 0 #f3ff8e;
}
.side-panel-tab-ctrl li.selected {
  z-index: 2;
  padding-top: 6px;
  background: #000;
  border-bottom-color: #000;
  color: #9ec542;
}
.side-panel-tab-ctrl li.selected:before {
  box-shadow: 4px 0px 0 #000;
}
.side-panel-tab-ctrl li.selected:after {
  box-shadow: -4px 0px 0 #000;
}

/* all help icons (and in scenarios table in mobile view) */
#slr-side-panel .cm-icon, #slr-modal-scenarios .cm-icon {
  bottom: 2px;
  margin-left: 8px;
  background-color: #f3ff8e;
  box-shadow: 0 0 3px 1px rgba(255,255,255,0.5);
  cursor: pointer;
  font-size: 14px;
  color: #000;
}
#slr-side-panel .cm-icon:hover, #slr-modal-scenarios .cm-icon:hover {
  background-color: #e7f7c2;
  box-shadow: none;
}
#slr-modal-scenarios .cm-icon {
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  bottom: 0.1em;
  font-size: 0.85em;
  margin-left: 0.4em;
}

/* scenario table */
#slr-scenario-txt-county {
  margin: 0;
  text-align: center;
  font-weight: bolder;
  color: #a5c6ea;
}
#slr-scenario-table {
  width: 100%;
  margin: -2px;
  font-size: 1em;
  border-color: #333;
  text-align: center;
  table-layout: fixed;
  color: #fff;
}
#slr-scenario-table th {
  background-color: #004785;
  padding-right: 0;
}
#slr-scenario-table tr {
  background: #000;
}
#slr-scenario-table tr:nth-child(even) {
  background: #373534;
}
#slr-scenario-table td {
  border: none;
}
#slr-scenario-table th, #slr-scenario-table td {
  padding: 3px 0;
}
/* icons on table header cells */
#slr-scenario-table .cm-icon {
  margin-left: 3px;
}

/* scenario mode */
#selected-scenario-msg {
  font-size: 0.8em;
}
.scenarios-header {
  margin-bottom:6px;
  font-size: 1.2em;
  font-weight: bold;
  color: #a5c6ea;
}
.scenario-option {
  display: inline-block;
  text-align: center;
  width: 16.66%;
  box-sizing: border-box;
}
.scenario-option.no-slr {
  width: 33.3% !important;
}
.scenario-option.no-ss {
  width: 50% !important;
}
.scenario-option.king-tide {
  width: 50% !important;
}

/* scenarios result blurb */
.scenarios-output {
  display: flex;
  flex-direction: row;
  min-height: 8px;
  margin: 6px 0;
  padding: 6px 0;
}
.scenarios-output .flex-a {
  flex: 0 0 auto;
}
.scenarios-output .flex-b {
  flex: 1 1 auto;
}
.scenarios-output h1, .scenarios-output h2 {
  font-family: 'Century Gothic',CenturyGothic,Geneva,AppleGothic,sans-serif;
}
.scenarios-output h1 {
  color: #fff;
  font-size: 1em;
  margin: 0;
}
.scenarios-output h2 {
  margin: 6px 0;
  padding: 0.2em;
  padding-top: 0;
  text-align: center;
  font-size: 2.6em;
  color: #a5c6ea;
}
.scenarios-output p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 0.95em;
}
#scenarios-result {
  border-top: 1px solid #aaa;
  margin-top: 18px;
}
/* adjustments for mobile (in modal) */
#slr-modal-scenarios .scenarios-output h1 {
  color: #004785;
  text-align: left;
}
#slr-modal-scenarios .scenarios-output h2 {
  color: #004785;
}
#slr-modal-scenarios .scenarios-output p {
  text-align: justify;
  font-size: 0.8em;
}

/* attributions */
#slr-panel-attributions {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  /*
  background: rgba(0, 0, 0, 0.4);
  padding: 4px;
  border: 1px solid #666;
  border-radius: 6px;
  */
  border-top: 1px solid #aaa; 
  padding-top: 6px;
  color: #fff;
  font-size: 0.7em;
  
  display: flex;
  flex-direction: row;
}
#slr-map-attributions, #slr-map-attributions a, .slr-org-attributions, .slr-org-attributions a {
  color: #ddd;
}
#slr-map-attributions p {
  flex: 1 1 auto;
  margin: 0;
}
.slr-org-attributions {
  flex: 0 0 auto;
  display: block;
  text-align: center;
  margin-right: 4px;
}
.slr-org-attributions img {
  -o-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  opacity: 0.8;
  backface-visibility: hidden;
}
.slr-org-attributions a:hover {
  text-decoration: none;
}
.slr-org-attributions a:hover img {
  opacity: 1.0;
}
