#slr-map-view {
  width: 100%;
  height: 100%;
}

.popup-spacer {
  height: 6px;
}
.popup-menu-container {
  position: relative;
  left: 6px;
  margin: 6px;
}
.popup-menu-button {
  width: 80px;
  padding: 2px;
  font-size: 0.85em;
  text-align: center
}
.popup-menu {
  position: absolute;
  right: 160px;
  top: -5px;
  width: 180px;
  border: 2px solid #999;
  border-radius: 5px;
  box-shadow: -1px 1px 4px #555;
  background: #fff;
  padding: 10px;
  text-align: left;
  font-size: 0.8em;
  z-index: 999;
}
.popup-menu:after, .popup-menu:before {
  position: absolute;
  top: 16px;
  left: 100%;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}
.popup-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 9px;
  margin-top: -9px;
}
.popup-menu:before {
  border-color: rgba(153, 153, 153, 0);
  border-left-color: #999;
  border-width: 11px;
  margin-top: -11px;
}

/* map popup */
#slr-popup-container {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #aaa;
  bottom: 12px;
  left: -100px;
  width: 280px;
  cursor: auto;
}
#slr-popup-container:after, #slr-popup-container:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#slr-popup-container:after {
  border-top-color: white;
  border-width: 10px;
  left: 100px;
  margin-left: -10px;
}
#slr-popup-container:before {
  border-top-color: #aaa;
  border-width: 11px;
  left: 100px;
  margin-left: -11px;
}
#slr-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  color: #39424a;
}
#slr-popup-closer:hover {
  color: #6b8194;
}
#slr-popup-content {
  font-size: 0.75em;
}
.popup-title {
  margin: 0;
  padding-right: 10px;
  font-size: 1.3em;
  font-weight: bolder;
}
#slr-popup-container h2 {
  margin: 4px 0;
}
#slr-popup-container h3 {
  margin: 0;
  color: #000;
}

.shoreline-glossary-link, .glossary-link {
  cursor: pointer;
}