.slr-legend {
  margin-bottom: 16px;
  font-size: 0.85em;
}
#slr-modal-legend {
  background: none;
  overflow-y: scroll;
  margin: -12px; /* cancel out modal padding */
}
#slr-legend-modal {
  color: #000;
  padding: 0 10px;
}
.slr-legend-intro {
  margin: 3px 0;
  text-align: justify;
  font-size: 0.92em;
}

.slr-legend-widget {
  position: relative;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-flow: wrap;
  -wbekit-flex-flow: wrap;
  flex-flow: wrap;
  align-items: center;
}
.slr-legend-widget-control {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-flow: wrap;
  -wbekit-flex-flow: wrap;
  flex-flow: wrap;
  align-items: center;
  padding: 4px;
}
.slr-widget-button {
  width: 38px;
  height: 38px;
  margin: 3px;
  border: 1px solid #b7b7b7;
  border-radius: 19px;
  background-image: linear-gradient(to bottom, #fff, #b7b7b7);
  background-image: -webkit-gradient(linear,0 0,0 100%, from(#fff), to(#b7b7b7));
  background-image: -webkit-linear-gradient(top, #fff, #b7b7b7);
  background-image: -moz-linear-gradient(top, #fff, #b7b7b7);
  background-image: -o-linear-gradient(top, #fff, #b7b7b7);
  background-repeat: repeat-x;
  background-color: #b7b7b7;
  padding: 0;
  color: #6f6363;
  cursor: pointer;
  transition: background .2s;
  -webkit-transition: background .2s, border .2s;
  -moz-transition: background .2s, border .2s;
  -o-transition: background .2s, border .2s;
}
.slr-widget-button:hover {
  background-position: 0 -10px;
  background-color: #b7b7b7;
}
.slr-widget-button.selected {
  border-color: #bbff1b;
  border-width: 2px;
  background-image: linear-gradient(to bottom, #9ec542, #f3ff8e);
  background-image: -webkit-gradient(linear,0 0,0 100%, from(#9ec542), to(#f3ff8e));
  background-image: -webkit-linear-gradient(top, #9ec542, #f3ff8e);
  background-image: -moz-linear-gradient(top, #9ec542, #f3ff8e);
  background-image: -o-linear-gradient(top, #9ec542, #f3ff8e);
  background-repeat: repeat-x;
  background-color: #9ec542;
  box-shadow: 0 0 5px 3px rgb(98, 153, 216);
  transition: none;
}
.slr-widget-button.selected:hover {
  background-position: 0 0;
  background-color: #9ec542;
}
.slr-widget-button.cm-tooltip-top:before {
  border-top-color: #9ec542;
}
.slr-widget-button.cm-tooltip-top:after {
  background: #9ec542;
  color: #000;
  white-space: pre;
  font-size: 0.9em;
}
.slr-widget-button i {
  font-size: 26px;
  line-height: 20px;
  font-style: normal;
}
.slr-widget-button img {
  max-width: 28px;
  max-height: 28px;
}
/* some images need recentering */
.slr-widget-button[value='consq-hwy-truck'] img, 
.slr-widget-button[value='consq-vulcom-contam'] img {
  padding-top: 3px;
}
.slr-widget-empty {
  margin: 8px 0;
  width: 100%;
  font-size: 0.9em;
  text-align: center;
}

.slr-legend-item {
  position: relative;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-flow: wrap;
  -wbekit-flex-flow: wrap;
  flex-flow: wrap;
  align-items: center;
  margin: 6px 0;
}

.slr-legend-item-row {
  -ms-flex-basis: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  text-align: center;
}
.slr-legend-main-label {
  position: relative;
  font-size: 1.05em;
}
.slr-legend-item-row.slr-legend-main-label {
  margin-bottom: 3px;
  background: rgba(100, 100, 100, .3);
  border: 1px solid #444;
  border-radius: 3px;
  padding: 4px;
}
.slr-legend-widget .slr-legend-item .slr-legend-main-label {
  background: none;
  margin: 0 6px;
  border: none;
  border-radius: 0;
  color: #cdd2de;
  font-weight: bolder;
  font-size: 1em;
}
.slr-legend-widget .slr-legend-item .slr-legend-main-label2 {
  position: relative;
  text-align: left;
  margin: 2px 8px;
  font-weight: bolder;
  font-size: 0.95em;
}
.slr-legend-widget .slr-legend-item .slr-legend-main-label2 .cm-icon {
  bottom: -3px !important;
}
.slr-legend-item-added-info {
  padding-left: 1em;
  text-align: justify;
  font-style: italic;
  font-size: 0.92em;
}

.slr-legend-item-col {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
}

.slr-legend-multi-spacer {
  -ms-flex: 0 0 14px;
  -webkit-flex: 0 0 14px;
  flex: 0 0 14px;
}

.slr-legend-symbol {
  -ms-flex: 0 0 auto !important;
  -webkit-flex: 0 0 auto !important;
  flex: 0 0 auto !important;
  margin-right: 6px;
}

.slr-legend-sub-label-wrapper {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.slr-legend-sub-label {
  display: flex;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  align-items: center;
  line-height: 1em;
}
.slr-legend-sub-label p {
  font-size: 1em !important;
  margin: 0;
}
.slr-legend-sub-label-wrapper .slr-legend-label-gradient:first-child {
  align-items: flex-start;
}
.slr-legend-sub-label-wrapper .slr-legend-label-gradient:last-child {
  align-items: flex-end;
}

.slr-layer-visibility-ctrl {
  position: absolute;
  left: 2px;
  top: 0.5px;
}
.slr-layer-opacity-ctrl {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}
.slr-layer-opacity-ctrl label {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #e3e3e3;
  margin-right: 6px;
}
.slr-layer-opacity-ctrl input {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.slr-legend-uda-ctrl {
  
  text-align: center;
}
.slr-legend-uda-ctrl button {
  display: inline-block;
  width: 60px;
  margin: 6px;
  font-weight: bold;
  font-size: 1.1em;
}

.legend-disabled .slr-legend-item-col, .legend-disabled .slr-layer-opacity-ctrl {
  opacity: 0.3;
  pointer-events: none;
  /* display: none; */
}

#slr-modal-legend .cm-icon {
  bottom: 0.1em;
  margin: 0.15em 0.3em;
}